.top-buffer {
  margin-top: 10px;
}
.mopsitable tr td:nth-child(2) {
  width: 150px;
}
.mopsitable tr:nth-child(1) td {
  border-top: none;
}
a.nodecoration {
  text-decoration: none;
}
table .collapse.in {
  display: table-row;
}
