body {
  padding-top: 70px;
  /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
}
.navbar-fixed-top .nav {
  padding: 15px 0;
}
.navbar-fixed-top .navbar-brand {
  padding: 0 15px;
}
@media(min-width:768px) {
  body {
    padding-top: 130px;
    /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
  }
  .navbar-fixed-top .navbar-brand {
    padding: 15px 0;
  }
}
.navbar-form {
  padding: 15px 0;
}
.navbar-inverse .navbar-brand {
  color: #ffffff;
}
table .collapse.in {
  display: table-row;
}
.animate.ng-enter {
  -webkit-animation: zoomIn 1s;
  -moz-animation: zoomIn 1s;
  -ms-animation: zoomIn 1s;
  animation: zoomIn 1s;
}
.animate.ng-leave {
  -webkit-animation: bounceOut 1s;
  -moz-animation: bounceOut 1s;
  -ms-animation: bounceOut 1s;
  animation: bounceOut 1s;
}
.animate.ng-move {
  -webkit-animation: bounceOut 1s;
  -moz-animation: bounceOut 1s;
  -ms-animation: bounceOut 1s;
  animation: bounceOut 1s;
}
