<h3>Deploy to Marathon</h3>
<div class="form-group">
  <label for="title" class="col-sm-2 control-label">ID</label>
  <div class="col-sm-10">
    <input type="text" ng-model="app.id" class="form-control" id="id" required placeholder="must be different to the allready running marathon apps!" />
    <span class="error" ng-show="myForm.userName.$error.required">
      Required!</span>
    <br>
  </div>
</div>
<div class="form-group">
  <label for="image" class="col-sm-2 control-label">Image</label>
  <div class="col-sm-10">
    <input type="radio" ng-model="app.container.docker.image" id="image" value="{{settings.registry|removeHTTP}}/{{form.reponame}}:{{form.tag}}" ng-true-value="{{settings.registry|removeHTTP}}/{{form.reponame}}:{{form.tag}}" />{{settings.registry|removeHTTP}}/{{form.reponame}}:{{form.tag}} Check the radio button!
  </div>
</div>
<div class="form-group">
  <label for="director" class="col-sm-2 control-label">Instances</label>
  <div class="col-sm-10">
    <input type="number" ng-model="app.instances" min="0" max="10" integer class="form-control" id="instances" placeholder="1" />
    <span ng-show="form.size.$error.integer">The value is not a valid integer!</span>
    <span ng-show="form.size.$error.min || form.size.$error.max">
      The value must be in range 0 to 10!</span>
  </div>
</div>

<div class="form-group">
  <label for="plot" class="col-sm-2 control-label">Memory</label>
  <div class="col-sm-10">
    <input type="number" ng-model="app.mem" class="form-control" id="memory" placeholder="128" />
  </div>
</div>

 <div class="form-group">
  <label for="plot" class="col-sm-2 control-label">CPU</label>
  <div class="col-sm-10">
    <input type="number" ng-model="app.cpus" min="0.1" class="form-control" id="cpus" placeholder="0.1" />
  </div>
</div>

<div class="form-group">
  <label for="plot" class="col-sm-2 control-label">CMD</label>
  <div class="col-sm-10">
    <input type="text" ng-model="app.cmd" class="form-control" id="cmd" placeholder="while sleep 10; do date -u +%T; done" />
  </div>
</div>

<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <input type="submit" class="btn btn-primary" value="Deploy" />
  </div>
</div>
