<table datatable="ng" class="row-border hover table mopsitable" dt-options="dtOptions" dt-columns="dtColumns" class="table table-striped table-bordered">
  <thead>
    <tr>
      <!--            <th></th>-->
      <th>ID</th>
      <th>Instances</th>
      <th>Memory</th>
      <th>CPU</th>
      <th>Image</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="app in apps.apps | filter:search">
      <!--
            <td><i class="glyphicon glyphicon-plus"></i>
            </td>
-->
      <td>{{app.id}}</td>
      <td>{{app.instances}}</td>
      <td>{{app.mem}}</td>
      <td>{{app.cpus}}</td>
      <td>{{app.container.docker.image}}</td>
      <td>
        <a class="btn btn-primary" ui-sref="appDetails({id:app.id})">Details</a>
        <a class="btn btn-danger" ng-click="deleteApp(app)">Kill!</a>
      </td>
    </tr>

  </tbody>
</table>
