<div class="row">
  <!--<div class="col-xs-4">
  <h3>Apps: {{ currentPage }}</h3>
</div>-->
  <div class="col-xs-4">
    <label for="search">Search:</label>
    <input ng-model="search" id="search" class="form-control" placeholder="Search">
  </div>
  <div class="col-xs-4">
    <label for="search">Items per page:</label>
    <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
  </div>
</div>
<table class="row-border hover table mopsitable ng-cloak" class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>Tasks/Instances</th>
      <th>Memory</th>
      <th>CPU</th>
      <th>Image</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr dir-paginate="app in apps.apps |filter:search| itemsPerPage: pageSize">
      <!--
            <td><i class="glyphicon glyphicon-plus"></i>
            </td>
-->
      <td>{{app.id}}</td>
      <td>{{app.tasksRunning}}/{{app.instances}}</td>
      <td>{{app.mem}}</td>
      <td>{{app.cpus}}</td>
      <td>{{app.container.docker.image}}</td>
      <td>
        <a class="btn btn-primary" ui-sref="appDetails({id:app.id})">Details</a>
        <a class="btn btn-danger" ng-click="appKill(app.id)">Kill!</a>
<!--        <a class="btn btn-danger" ng-click="pail(app.id)">window</a>-->
        <a class="btn btn-info" ng-click="openLog(app.id)">Logs</a>
      </td>
    </tr>
  </tbody>
</table>
<dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="partials/dirPagination.tpl.html" ]></dir-pagination-controls>

<div ng-include=" 'js/modal-logs.js' "></div>
<!--<p>
  <button class="btn btn-default btn-sm" ng-click="status.open = !status.open">Toggle last panel</button>
  <button class="btn btn-default btn-sm" ng-click="status.isFirstDisabled = ! status.isFirstDisabled">Enable / Disable first panel</button>
</p>

<label class="checkbox">
  <input type="checkbox" ng-model="oneAtATime">Open only one at a time
</label>
<accordion close-others="oneAtATime">

  <accordion-group is-open="status.open" heading="{{repo.name}}" ng-repeat="app in apps.apps">
    <accordion-heading>
      {{repo.name}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
    </accordion-heading>
    <ul>
      <li>{{app.container.docker.image}}</li>
      <li>{{app.cmd}}</li>
      <li>{{app.env}}</li>
  </accordion-group>
</accordion>-->
