<table class="table movietable">
    <tr>
        <td>
            <h3>Details for {{name}}</h3>
        </td>
        <td></td>
    </tr>
    <tr>
        <td>Author</td>
        <td>{{details.author}}</td>
    </tr>
    <tr>
        <td>Comment</td>
        <td>{{details.comment}}</td>
    </tr>
    <tr>
        <td>Created</td>
        <td>{{details.created}}</td>
    </tr>
    <tr>
        <td>whatever</td>
        <td>{{details.genre}}</td>
    </tr>
</table>
<div>
    <a class="btn btn-primary" ui-sref="editMovie({id:movie.id})">Edit</a>
</div>