<!--<a ui-sref="newRepo" class="btn-primary btn-lg nodecoration">Add New Image</a>-->
<table class="table mopsitable">
  <tr>
    <td>
      <h3>All Repos</h3>
    </td>
    <td></td>
  </tr>
  <tr ng-repeat="movie in movies.results | filter:search">
    <td>{{movie.name}}</td>
    <td>{{movie.nix}}</td>
    <td>
      <a class="btn btn-primary" ui-sref="viewMovie({name:movie.name})">View</a>
      <a class="btn btn-primary" ui-sref="viewTags({name:movie.name})">Tags</a>
      <a class="btn btn-danger" ng-click="deleteMovie(movie)">Deploy</a>
      <a class="btn btn-danger" ng-click="deleteMovie(movie)">Delete</a>
    </td>
  </tr>
</table>
