<table class="table mopsitable">
  <tr>
    <td>
      <h3>All Repos</h3>
    </td>
    <td></td>
  </tr>
  <tr ng-repeat="repo in repos.results | filter:search">
    <td>{{repo.name}}</td>
    <td>{{repo.nix}}</td>
    <td>
      <a class="btn btn-primary" ui-sref="viewReposTags({name:repo.name})">Tags</a>
      <!--      <a class="btn btn-info" ui-sref="viewAppDeploy({name:repo.name})">Deploy</a>-->
      <a class="btn btn-info" ng-click="open('sm',repo.name)">PopUp</a>
      <a class="btn btn-danger" ng-click="deleteRepo(repo.name)">Delete</a>

    </td>
  </tr>

</table>

<pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" items-per-page="3"></pagination>
<pre>The selected page no: {{currentPage}}</pre>
<button class="btn btn-info" ng-click="setPage(3)">Set current page to: 3</button>

<hr />

<div ng-include="'js/modal.js'"></div>
