<table class="table mopsitable">
  <tr>
    <td>
      <h3>All Repos</h3>
    </td>
    <td></td>
  </tr>
  <tr ng-repeat="repo in repos.results | filter:search">
    <td>{{repo.name}}</td>
    <td>{{repo.nix}}</td>
    <td>
      <a class="btn btn-primary" ui-sref="viewReposTags({name:repo.name})">Tags</a>
      <!--      <a class="btn btn-info" ng-click="open('sm',repo.name)">PopUp</a>-->
      <a class="btn btn-danger" ng-click="deleteRepo(repo.name)">Delete</a>

    </td>
  </tr>

</table>

<pagination total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" ng-change="pageChanged()"></pagination>

<hr />

<div ng-include=" 'js/modal.js' "></div>
<p>
  Pagination not yet working :(
  <br>total Items: {{totalItems}}
  <br />Items per page: {{itemsPerPage}}
  <br />Current Page: {{currentPage}}
</p>
